.shining-container {
    position: fixed;
    margin-top: -125px;
    margin-left: -110px;
    width: 600px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shine {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    filter: blur(20px);
  }
  