.image-container {
  position: relative;
  display: inline-block;
}

.main-image {
  width: 100%;
  height: auto;
}

.hover-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container:hover .hover-image {
  clip-path: circle(0% at 50% 50%);
}
