.App {
  text-align: center;
}

.slider-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  gap: 1.25rem;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.storyboard-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  gap: 1.25rem;
}

.story {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  gap: 2rem;
}

.story img {

}

.story-text {
  font-size: 26px;
  color: black;
  position: absolute;
  z-index: 0;
  align-content: center;
  rotate: -45deg;
}

.story-poster-text {
  font-size: 10px;
  color: white;
  position: absolute;
  align-content: center;
  bottom: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
